# Uncomment this config block to set the dnsmasq static DHCP hosts file.
# Defaults to: /etc/dnsmasq.d/04-dhcp-static-leases.conf
#
# host:
#   static:
#     file: /etc/dnsmasq.d/04-dhcp-static-leases.conf

# Uncomment this config block to set JWT-based authentication configuration for API endpoints.
# Available methods: none, ecdsa-256, ecdsa-384, ecdsa-512, hmac-256, hmac-384, hmac-512, rsa-256,
#   rsa-384 and rsa-512
# Available key formats: public key data, public key file and plain-text secret
# Defaults to: No authentication
#
# auth:
#   method: ecdsa-512
#   key: /etc/dnsmasq-manager/id_ecdsa.pub

# Uncomment this config block to change the server HTTP listening port.
# Defaults to: 6904
#
# server:
#   port: 6904

# Uncomment this config block to change the logging settings for the service.
# Available levels: debug, info, warning, error.
# Available formats: text, json.
# Defaults to: info / json / stdout
#
# log:
#   level: info
#   format: json
#   file: /var/log/dnsmasq-manager.log
#   source: false
